[flake8]
exclude =
    .git,
    __pycache__,
    build,
    dist,
    versioneer.py,
    tpx3awkward/_version.py,
    docs/source/conf.py
max-line-length = 115
ignore =
    # Ignore some style 'errors' produced while formatting by 'black'
    E203,
    W503
